<div class="intro-banner mt-10 mb-5">
  <div class="container">
    <img src="../assets/intro-banner.png" class="img-fluid intro-banner">
  </div>
</div> <!-- intro-banner -->

<div class="surah-card-wrapper">
  <div class="container">
    <div class="grid grid-cols-4 gap-4">

      @for (item of items; track item.id) {

      <div class="">
        <div class="surah-card">
          <h1 class="surah-name h4 mb-3"> سورة الفاتحة </h1>

          <div class="mb-3">
            <p class="bold mb-3"> متابعة المشاهدة ( {{item.progreessValue}}% )</p>

            <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
              <div class="bg-primary h-2.5 rounded-full" [style.width]="item.progreessValue"></div>
            </div>

          </div>

          <div class="surah-details flex">
            <p class="videos-count color-gray3 m-0"> 10 حلقات </p>
            <span class="mx-2 color-gray3"> - </span>
            <p class="videos-time color-gray3 m-0"> 55 د </p>
          </div> <!-- surah-details -->

        </div><!-- surah-card -->
      </div> <!-- col-md-4 -->
      }

    </div> <!-- row -->
  </div> <!-- container -->
</div> <!-- surah-card -->
